body {
	margin-top:0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;


	font-size:15px;
	color:#fff;

	background-color:#928a8a;
}
h1, h2, h3, h4, h5, h6{
	margin:0px;
}
*,
*:before,
*:after{
	box-sizing: border-box;}

/*==============Container==============*/
.container{
	
}
/*==============Header=============*/



/*===================Intro====================*/
.intro{
	height:792px;
	width: 100%;
	background: #928a8a url("Images/5-9.png") center no-repeat;
	background-size: cover;

	display: flex;
	
	
}



.intro2{
	background: #928a8a url("Images/222.png") center no-repeat;
	background-size: cover;
	height:650px;
	width: 100%;
	
}



.intro3{
	background: #928a8a url("Images/333.png") center no-repeat;
	background-size: cover;
	height:950px;
	width: 100%;
	
}
























